
@font-face {
    font-family: 'TT Lakes';
    src: url('../../assets/fonts/TT-Lakes/TTLakes-Italic.eot');
    src: local('TT Lakes Italic'), local('TTLakes-Italic'),
    url('../../assets/fonts/TT-Lakes/TTLakes-Italic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/TT-Lakes/TTLakes-Italic.woff') format('woff'),
    url('../../assets/fonts/TT-Lakes/TTLakes-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'adevaleregular';
    src: url('../../assets/fonts/Adevale/adevale-regular-webfont.woff2') format('woff2'),
    url('../../assets/fonts/Adevale/adevale-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


*{
    font-family: 'Teko', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    background-color: #EDF0F2;
}


a {
    color: #212529;
}
.search{
    position: relative;
    background-color: #E4003B;
    min-height: 46px;
    min-width: 46px;
    border-radius: 50%;
}

.search-content.active{
    z-index: 16;
    min-width: 230px;
    visibility: visible;
    opacity: 1;
}

.search-content{
    top: 100%;
    right: 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all ease 300ms;
}
.menus{
    margin: 40px 50px 20px;
    font-size: 17px;
    font-weight: 600;
}
.logo{
    height: 103px;
}
.languages{
    border-left: 1px solid rgba(0, 0, 0, .3);
    padding-left: 45px;
}



/* 2. Slider */

.rotate{
    transform-origin: 0 0;
    transform: rotate(-90deg);
    font-size: 55px;
    font-weight: 600;
    width: 999px;
    position: absolute;
    bottom: 75px;
    left: -68px;
    height: 90px;
}

.slider-left{
    word-break: break-word;
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url('../images/ico_art.svg');
    background-repeat: no-repeat;
    background-position: 90% 90%;
}
.slider-left span{
    display: block;
    color: #E4003B;
    font-size: 177px;
    font-weight: 600;
    line-height: 150px;
    font-family: "Teko";
    min-width: 310px !important;
    max-width: 310px !important;
}

p{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-family: "TT Lakes";
    line-height: 26px;
    letter-spacing: 2px;
}

.slider-left-social{
    width: 90px;
    height: 100%;
    position: absolute;
    left: -75px;
    bottom: 0;
}
.slider-left-social svg{
    font-size: 20px;
}
.slider-right{

    height: 800px;
    position: relative;
    width: 100%;
}
.slider-right img{
    height: 800px;
}
.slider-right .nav{
    height: 132px;
    width: 64px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.slider-right .nav .right,
.slider-right .nav .left{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66px;
    width: 66px;
    background-color: #E4003B;
}
.slider-right .nav img{
    width: 24px;
    height: 16px;
}
.slider-right .nav .left{
    background-color: #EDF0F2;
}


.slider-padding{
    padding: 50px 18px 50px 0;
}


.slider{
    /*height: 800px;*/
    margin: 0 160px 100px;
}

.homepageSlider {

    position: relative;
}

.owl-dots{
    gap: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: -120px;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: right;

}
.owl-dots span {
    display: flex !important;
    align-items: center !important;
    justify-content: end !important;
    background-color: transparent !important;
    width: 50px !important;
    height: 50px !important;
    margin: 0 !important;
    border-radius: 0 !important;
}

.owl-dot{
    font-size: 17px;
    font-family: "Teko";
    font-weight: 600;
}
.owl-dots .active span{
    font-weight: 600;
    font-size: 60px !important;
    border-bottom: 1px solid #E4003B !important;
}



/* 3. Tests */


.content{
    margin: 0 50px 100px;
}

.tests {
    margin: 40px 0;
    transition: 300ms;
}

.tests:hover {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tests button{
    border: 0;
}

.tests .tag{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    color: #E4003B;
}
.tests .title{
    font-size: 36px;
    font-weight: 600;
    color: #000000;
}

.tests .button{
    font-size: 17px;
    font-weight: 600;
    color: #000000;
}
.tests .button > img {
    height: 28px;
    margin-right: 20px;
}



h2 {
   font-weight: 600;
    font-size: 60px;
    color: #000;
    margin-bottom: 35px;
}


.post {
    padding: 50px 75px;
    position: relative;
}

.post h3 {
    font-weight: 600;
    font-size: 60px;
    color: #000;
}
.post > img {
    position: absolute;
    top: 400px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    max-width: 450px;
    max-height: 450px;
}
.post span {
    position: absolute;
    top: 250px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    word-break: break-word;
    min-width: 350px;
    position: relative;
    font-weight: 600;
    line-height: 130px;
    font-size: 174px;
    color: #fff;
    padding-bottom: 200px;
}
.post .title {
    font-family: "Teko";
    font-weight: 500;
    font-size: 36px;
    color: #000;
}
.post .button{
    font-size: 17px;
    font-weight: 600;
    color: #000000;
}
.post .button > img {
    height: 28px;
    margin-right: 20px;
}

.post .number{
    position: absolute;
    top: 0;
    left: -7px;
    transform: translate(-100%,-50%);
    font-family: "Teko";
    font-size: 60px;
    line-height: 60px;
    color: #E4003B;
}
.post .promotion{
    font-family: "adevaleregular";
    position: absolute;
    top: 50px;
    right: 0px;
    transform: rotate(-15deg);
    font-size: 96px;
    font-weight: 400;
    line-height: 112px;
    color: #E4003B;
}



/* Result */


.result {
    margin: 0 50px 50px;
}


.share {
    margin: 100px 0;
    padding: 250px 40px 150px;
    width: 500px;
    color: #fff;
    border: 30px solid #E4003B;
}
.share .title{
    line-height: 54px;
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 20px;
}
.share .text{
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
}

.result-right {
    background-repeat: no-repeat;
    background-size: cover;
}

.result-left {
    position: relative;
}
.result-left > div{
    font-size: 35px;
    font-weight: 600;
    z-index: 5;
}

.result-left .arrow{
    position: absolute;
    height: 150px;
    width: 220px;
    right: -175px;
    bottom: 50px;
}
.result-left .percent{
    font-size: 230px;
    line-height: 230px;
    color: #E4003B;
    height: 190px;
}
.result-left .success{
    font-size: 60px;
}
.result-left .success > span{
    color: #E4003B;
}



.result-left > span{
    left: -190px;
    bottom: 50%;
    position: absolute;
    transform: rotate(-90deg);
    text-transform: uppercase;
    width: 950px;
    font-size: 174px;
    font-weight: 600;
    line-height: 130px;
    color: #fff;
}





/* Footer*/


.footer-bg {
    padding: 40px 70px;
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-links {
    color: #fff;
    font-family: "TT Lakes";
    font-size: 14px;
    line-height: 26px;
}

.footer-links .title{
    font-weight: 600;
    font-size: 36px;
    color: #E4003B;
    margin-bottom: 16px;
}

.footer-bg .social{
    margin-top: 40px;
    font-size: 24px;
    color: #fff;
}


.footer {

    margin: 0 50px 50px;
}
.footer-links{
    padding: 20px 10px;
}

.footer-logo{
    padding: 20px 10px;
}




.hamburger label{
    display:flex;
    flex-direction:column;
    width:70px;
    cursor:pointer;
}

.hamburger label span{
    background: #000;
    border-radius:10px;
    height:7px;
    margin: 7px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


.hamburger span:nth-of-type(1){
    width:50%;

}

.hamburger span:nth-of-type(2){
    width:100%;
}


.hamburger span:nth-of-type(3){
    width:75%;

}


.hamburger input[type="checkbox"]{
    display:none;
}


.hamburger input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(8px,0px)
}


.hamburger input[type="checkbox"]:checked ~ span:nth-of-type(2){

    transform-origin:top;
    transform:rotatez(-45deg)
}


.hamburger input[type="checkbox"]:checked ~ span:nth-of-type(3){

    transform-origin:bottom;
    width:50%;
    transform: translate(30px,-11px) rotatez(45deg);

}


.hamburger{
    transform: scale(0.66);
    display: none;

}

@media screen and (max-width: 768px) {

}
@media screen and (max-width: 1200px) {
    .search-content{
        left: 0;
    }
    .hamburger {
        display: flex;
        z-index: 16;
    }


    .languages{
        border-left: 0;
        padding-left: 0;
    }

    .hamburger input[type="radio"]:checked .hamburger{

    }


    .menu {
        display: none !important;
    }

    .menu.active{
        padding: 45px;
        height: 100%;
        z-index: 15;
        width: 100%;
        background-color: #EDF0F2;
        position: fixed;
        left: 0;
        top: 0;
        display: flex !important;
        flex-direction: column-reverse;
        align-items: start !important;
        overflow: auto;
    }

    .hamburger.active{
        position: fixed;
    }

    .slider-left span{
        font-size: 150px;
    }

    .content{
        margin: 0 30px 50px;
    }

    .post span{
        word-break: break-word;
    }
    .post {
        padding: 50px 25px;
    }
    .result {
        margin: 0 50px 50px;
    }

    .result-left {
        align-items: center;
    }

    .result-left > span{
        display: none;
    }

    .result-left .arrow{
        z-index: 1;
        height: 150px;
        width: 220px;
        right: 0;
        bottom: -100px;
        transform: rotate(90deg);
    }

    .slider-left{
        height: 100%;
        text-align: center;
        justify-content: center;
    }
    .slider-right{
        height: 100%;
    }
    .slider-left span{
        min-width: 100% !important;
    }
    .rotate{
        transform: rotate(0deg);
        position: static;
        width: 100%;
        height: 180px;
    }

    .slider-left-social {
        position: static;
        width: 100%;
        height: 40px;
        flex-direction: row !important;
        justify-content: center !important;
    }
    .slider-right img{
        height: 100%;
    }
    .slider-right iframe{
        height: 100%
    }
    .slider {
        margin: 0 50px 100px;
    }



    .owl-dots{
        gap: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        position: absolute;
        right: 50%;
        bottom: 0;
        top: 105%;
        transform: translate(-50%, -50%);
        left: 50%;

    }
    .owl-dots span {
        display: flex !important;
        align-items: center !important;
        justify-content: end !important;
        background-color: transparent !important;
        width: 50px !important;
        height: 50px !important;
        margin: 0 !important;
        border-radius: 0 !important;
    }

    .owl-dot{
        font-size: 17px;
        font-family: "Teko";
        font-weight: 600;
    }
    .owl-dots .active span{
        font-weight: 600;
        font-size: 60px !important;
        border-bottom: 1px solid #E4003B !important;
    }


}


#filter_users{
    width:100%;
    padding:10px;
}

#users-list{
    margin:0;
    padding:0;
}

#users-list li{
    background-color: white;
    list-style:none;
    padding:10px;
    margin:5px 0;
    border: 1px solid #e4e4e4;
    cursor: pointer;
}


#questions > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #E4003B;
    margin-bottom: 15px;
    border-radius: 25px;
    padding: 30px;
}

.options label{
    cursor: pointer;
    background-color: #999;
    border-radius: 15px;
}
.options li{

}

.options ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}
.options input{
    display: none;
}

.options input[type="radio"]:checked + label{
    background-color: #E4003B;
    color: #fff;
    border-radius: 15px;
}

.questions .title{
    font-size: 36px;
    font-weight: 500;
}
.options label {
    font-size: 20px;
    padding: 15px;
    color: #000;
}
.test-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.test-content h3{
    font-size: 60px;
    font-weight: 600;
}
.check-test{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.check-test button{
    font-size: 36px;
    padding: 15px;
    background-color: #E4003B;
}


.questions{
    display: none;
}
.result{
    display: none;
}

.users-list button{
    width: 100%;
    height: 100%;
    background-color: #E4003B;
    color: white;
}
